<?xml version = '1.0' encoding = 'UTF-8'?>
<plist version="1.0">
<dict>
	<key>KeyboardDisplayRequiresUserAction</key>
	<true/>
	<key>SuppressesIncrementalRendering</key>
	<false/>
	<key>UIWebViewBounce</key>
	<true/>
	<key>TopActivityIndicator</key>
	<string>gray</string>
	<key>EnableLocation</key>
	<false/>
	<key>EnableViewportScale</key>
	<false/>
	<key>AutoHideSplashScreen</key>
	<true/>
	<key>ShowSplashScreenSpinner</key>
	<true/>
	<key>MediaPlaybackRequiresUserAction</key>
	<false/>
	<key>AllowInlineMediaPlayback</key>
	<false/>
	<key>OpenAllWhitelistURLsInWebView</key>
	<true/>
	<key>BackupWebStorage</key>
	<string>cloud</string>
	<key>ExternalHosts</key>
	<array>
		<string>*.googleapis.com</string>
		<string>*.gstatic.com</string>
		<string>elocation.oracle.com</string>
	</array>
	<key>Plugins</key>
	<dict>
		<key>ADFMobileDeviceProperties</key>
		<string>ADFMobileDevicePropertiesAdaptor</string>
		<key>ADFMobileShell</key>
		<string>ADFMobileShellAdaptor</string>
		<key>ADFMobileSecurity</key>
		<string>ADFMobileSecurityAdaptor</string>
		<key>ADFMobileFeatures</key>
		<string>ADFMobileFeaturesAdaptor</string>
		<key>AdfmfSlidingWindowPlugIn</key>
		<string>AdfmfSlidingWindowPlugInAdaptor</string>
		<key>Device</key>
		<string>CDVDevice</string>
		<key>Logger</key>
		<string>CDVLogger</string>
		<key>Accelerometer</key>
		<string>CDVAccelerometer</string>
		<key>Debug Console</key>
		<string>CDVDebugConsole</string>
		<key>Echo</key>
		<string>CDVEcho</string>
		<key>Notification</key>
		<string>CDVNotification</string>
		<key>Media</key>
		<string>CDVSound</string>
		<key>SplashScreen</key>
		<string>CDVSplashScreen</string>
		<key>Battery</key>
		<string>CDVBattery</string>
		<key>Globalization</key>
		<string>CDVGlobalization</string>
	</dict>
</dict>
</plist>